:root {
    --font-dm-sans: "DM Sans", sans-serif;
    --black-bg: #000;
    --light-black-bg: #121212;
    --light-gray: #b3b3b3;
    --white: #fff;
    --dark-gray: #242424;
    --medium-gray: #878787;
}